:root {
  --color-333333: #333333;
  --color-e1670e: #e1670e;
  --color-ffffff: #ffffff;
  --color-ff9900: #ff9900;
  --color-adadad: #adadad;
  --color-F7B045: #f7b045;
  --color-666666: #666666;
  --color-000000: #000000;
  --color-CACACA: #cacaca;
  --color-ECECEC: #ececec;
  --color-222222: #222222;
  --color-414141: #414141;
  --color-E5E5E5: #e5e5e5;
  --color-595959: #595959;
}
